# API Configuration
API_BASE_URL=http://localhost:8080/api/v1

# OAuth / Authentication Keys
GOOGLE_SIGN_IN_CLIENT_ID=your_google_client_id_here
FORTY_TWO_CLIENT_ID=your_42_client_id_here
FORTY_TWO_CLIENT_SECRET=your_42_client_secret_here

# Other Configurations
ENVIRONMENT=development
